body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.bg-left-half {
  position: relative; }
  .bg-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #f8f9fa; }

.media-29101 img {
  margin-bottom: 5px; 
  max-width: 80%;
  max-height: 100%;
}

.media-29101 h3 {
  font-size: 15px;
  font-weight: 900 !important; }
  .media-29101 h3 a {
    color: #6c757d; }

.owl-2-style .owl-nav {
  display: none; }

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
  .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
    .owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 15px;
      height: 3px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; }
    .owl-2-style .owl-dots .owl-dot.active span {
      background: #007bff; }
    .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }
.media-29101 .social li{
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
}
.media-29101 .social li:nth-child(2){ transition-delay: 0.05s; }
.media-29101 .social li:nth-child(3){ transition-delay: 0.13s; }
.media-29101 .social li:nth-child(4){ transition-delay: 0.16s; }
.media-29101:hover .social li{
    opacity: 1;
    transform: translateY(0);
}
.media-29101.social li a{
    color: #000;
    background-color: #fff;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}
.media-29101 .social li a:hover{
    color: #fff;
    background-color: orange;
}
.media-29101 .product-content{
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;
}
.media-29101 .title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.media-29101 .title a{ color: #000; }
.media-29101 .title a:hover{ color: #fa8231; }
.media-29101 .price{
    color: #fa8231;
    font-size: 18px;
    font-weight: 600;
}
.media-29101.price span{
    color: #777;
    margin: 0 0 0 5px;
    font-weight: 300;
    text-decoration: line-through;
    display: inline-block;
}
@media only screen and (max-width:990px){
    .media-29101{ margin-bottom: 30px; }
}
  
@keyframes new
{
  0%
  {
    transform:scaleX(1);
  }
  50%
  {
    transform:scaleX(.95);
  }
  100%
  {
    transform:scaleX(1);
  }
}
